process {
    withName: 'ML_XENIUMHARMONISE' {
        queue          = 'normal'
        group          = 'cellgeni'
        cpus           = 2
        clusterOptions = '-M 8G -R "select[mem>8G] rusage[mem=8G]"'
        container      = '/nfs/cellgeni/singularity/images/palom_tiledb.sif'
        publishDir     = 'results'
        }
 }

