params.modules_testdata_base_path = "/Users/as82/Documents/pediatric_brain_project/nf-modules/modules/sanger-cellgeni/imaging/nichecompass/training/tests/test_inputs/"

nextflow.enable.moduleBinaries = true

docker.enabled = true

process {
    withName: 'NICHECOMPASS_TRAINING' {
        ext.args = "--use_cuda_if_available false"
    }
}

