params.modules_testdata_base_path = "/home/as82/nf-modules/modules/sanger-cellgeni/imaging/nichecompass/analysis/tests/test_inputs/"

nextflow.enable.moduleBinaries = true

docker.enabled = false
singularity.enabled = true
singularity.runOptions = "-H /tmp --cleanenv --containall"

process {
    withName: 'NICHECOMPASS_TRAINING' {
        ext.args = "--use_cuda_if_available false"
    }
}

