params.modules_testdata_base_path = "/nfs/team283_imaging/0HarmonyExports/"

nextflow.enable.moduleBinaries = true

docker.enabled = true

process {
    publishDir = [path: "/home/ubuntu/Documents/nf-modules/nextflow_out", mode: 'copy']
    withName: 'IMAGING_GENERATECOMPANION' {
        ext.args = params.generatecompanion_args
    }
    withName: 'IMAGING_PREPROCESS' {
        ext.args = params.preprocess_args
        containerOptions = "--gpus all"
    }
}

aws { 
    region = "eu-west-2" 
    client {
        endpoint = "https://cog.sanger.ac.uk" 
        anonymous = true
        s3PathStyleAccess = true
    }
}