process {
    withName: "*ANNDATAUTILS_TOH5AD" {
        queue      = 'normal'
        cpus       = 4
        memory     = { 16.GB + 32.GB * (task.attempt - 1) }
        publishDir = [
            mode     : params.publish_mode,
            path     : "${outputDir}/adata/raw",
            overwrite: true
        ]
    }
}