process {
    withName: ADATA_ATTACHCELLMETADATA {
        ext.prefix = ""
        ext.args   = "--barcode_column 'obs_names'"
        queue      = 'normal'
        cpus       = 1
        memory     = { 2.GB + 2.GB * (task.attempt - 1) }
        publishDir = [
            mode: 'link',
            path: { "results/${meta.id}" },
            pattern: '*.{h5ad}',
            overwrite: true,
        ]
    }
}