includeConfig "../../../../../tests/config/nextflow.config"

process {
    withName: SEGTRAQ_VOLUME {
        ext.args = '--images_key raw_image --shapes_key cell_shapes --shapes_cell_id_key instance_id --tables_cell_id_key instance_id --tables_area_key None --points_z_key None --points_gene_key Name --points_background_id 0 --nucleus_shapes_key None --min_qv None'
    }
}
