nextflow.enable.moduleBinaries = true

params {
    // test params
    test_data_base           = "${projectDir}/tests/data/"

    // process params
    output_dir               = "results"
}

process {
    cpus   = 2
    memory = '4.GB'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '-B /lustre,/nfs'
        singularity.cacheDir   = '/nfs/cellgeni/singularity/images/'
    }
    docker {
        docker.enabled    = true
    }
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'
cleanup              = false