nextflow.enable.moduleBinaries = true

params {
    publish_dir_mode                  = "copy"
    singularity_pull_docker_container = false
    test_data_base                    = "${projectDir}/tests/data/"
}

process {
    cpus   = 2
    memory = '4.GB'
    time   = '2.h'
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '-B /lustre,/nfs'
        singularity.cacheDir   = '/nfs/cellgeni/singularity/images/'
    }
    docker {
        docker.enabled    = true
    }
    gpu {
        singularity.runOptions  = '--nv'
    }
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'