nextflow.enable.moduleBinaries = true

docker.enabled = false
singularity {
    enabled = true
    autoMounts = true
    runOption = "--containall"
}

//params.modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
params.modules_testdata_base_path = "s3://spatial_demo_datasets/terra_demo/"

aws {
    region = "eu-west-2"
    client {
        endpoint = "https://cog.sanger.ac.uk"
        anonymous = true
        s3PathStyleAccess = true
    }
}
