includeConfig "../../../../tests/config/nextflow.config"

params.modules_testdata_base_path = "s3://spatial_demo_datasets/"

docker.enabled = true
singularity.enabled = false
singularity.runOptions = "-H /tmp --cleanenv --containall"

process {
    withName: NICHECOMPASS_PREPROCESS {
        ext.args = params.nichecompass_preprocess_args
    }
    withName: NICHECOMPASS_TRAIN {
        ext.args = params.nichecompass_train_args
    }
}
