params.modules_testdata_base_path = "s3://spatial_demo_datasets/"
nextflow.enable.moduleBinaries = true

docker.enabled = false
singularity.enabled = true
singularity.runOptions = "-H /tmp --cleanenv --containall"

process {
    withName: SPATIAL_NICHECOMPASSTRAINING {
        ext.args = params.spatial_nichecompasstraining_args
    }
}


aws {
    region = "eu-west-2"
    client {
        endpoint = "https://cog.sanger.ac.uk"
        anonymous = true
        s3PathStyleAccess = true
    }
}
