includeConfig "../../../../tests/config/nextflow.config"

params.modules_testdata_base_path = "s3://spatial_demo_datasets/"

docker.enabled = false
singularity.enabled = true
singularity.runOptions = "-H /tmp --cleanenv --containall"

process {
    withName: SPATIAL_NICHECOMPASSTRAINING {
        ext.args = params.spatial_nichecompasstraining_args
    }
}


