// flags
nextflow.enable.moduleBinaries = true

params {
    // test data folder
    test_data_basedir = "/lustre/scratch127/cellgen/cellgeni/aljes/hackathon/data"

    // pipeline parameters
    barcode_column = 'barcode'
    sample_column = 'sample'
    target_sum = null
    hvg_flavor = null
    n_top_genes = null
    viz_label = null
    embedding_name = null

}

process {
    cpus          = 2
    queue         = 'normal'
    memory        = '4 GB'
}

// include additional config files from the 'configs' folder
includeConfig 'adata_attachcellmetadata.config'



profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '-B /lustre,/nfs'
        singularity.cacheDir   = '/nfs/cellgeni/singularity/images/'
    }
    docker {
        docker.enabled    = true
    }
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}
