process {
    withName: 'ML_HEMATOXYLINEOSIN' {
        queue          = 'normal'
        group          = 'cellgeni'
        cpus           = 1
        clusterOptions = '-M 16G -R "select[mem>16G] rusage[mem=16G]"'
        container      = '/lustre/scratch127/cellgen/cellgeni/dn10/feature_extraction/feature_extraction.sif'
        publishDir     = 'results'
    }
}