includeConfig "../../../../../tests/config/nextflow.config"

params.modules_testdata_base_path = "s3://spatial_demo_datasets/"


singularity.enabled = false
singularity.runOptions = "-H /tmp --cleanenv --containall"

process {
    withName: SPATIAL_NICHECOMPASSTRAINING {
        ext.args = "--use_cuda_if_available false"
    }
}

