params.modules_testdata_base_path = "/home/as82/nf-modules/modules/sanger-cellgeni/spatial/nichecompasstraining/tests/test_inputs/100/"

nextflow.enable.moduleBinaries = true

docker.enabled = false
singularity.enabled = true
singularity.runOptions = "-H /tmp --cleanenv --containall"

process {
    withName: SPATIAL_NICHECOMPASSTRAINING {
        ext.args = "--use_cuda_if_available false"
    }
}
